@charset "UTF-8";
/* CSS Document */
@font-face{
	font-family: "Caviar";
	src: url(Caviar.ttf);
}

body{
	margin:0;
	padding:0;
	background-color: #1D1D1D;
}

#storbox{
	height:150%;
	width:90%;
	margin-left:5%;
	position:absolute;
	background-color: #000;
}

#startheader{
	width:100%;
	height:auto;
	overflow: hidden;
}

#startarticle{
	height:50%;
}

#TextBox{
	height: 60%;
	width: 50%;
	margin:5% 0 0 25%;
	background:rgba(102,102,102,0.6);
	border:8px solid #FFF;
	text-align:center;
}

#Boka{
	display: none;
}

#TryckBoka:link{
	
	text-decoration: none;
	font-family: "Caviar";
	font-size: 30px;
	color:#FFF;
}
#TryckBoka:hover{
	color:#ccc;
	text-decoration: underline;
}
#TryckBoka:visited{
	color:#FFF;
}

h2{
	margin-top:18%;
}

h1{
	font-family:"Caviar";
	font-size: 30px;
	color:#FFF;
}
p{
	font-family:"Caviar";
	font-size:15px;
	padding:0 3%;
	color:#FFF;
}

ul{
	height:100%;
	width:10%;
	float:left;
	list-style: none;
	margin: 0;
}

li{
	padding-top:8%;
}

.FooterNav:link{
	color:#fff;
	text-decoration: none;
	font-family: "Caviar";
}

.FooterNav:hover{
	color:#000;
	text-decoration: underline;
}

.FooterNav:visited{
	color:#FFF;
}

.FooterNav:visited:hover{
	color:#000;
}

#adress{
	float:right;
	padding:1% 3% 0 0;
}

footer{
	border-top:8px solid #FFF;
	height:10%;
	width:100%;
	background-color:#d38500;
	bottom:0;
	position:absolute;
}