@charset "utf-8";
/* CSS Document */
html{
	font-family:"Comic Sans MS";
}

body{
	margin:0;
	padding:0;
}
#talinput1{
	width:50%;
	border:3px solid #099;
}

#textinput{
	border:2px solid #F00;
	width:70px;
}

#textinput:hover{
	border:2px solid #F93;
}

h1{
	display:inline-block;
	padding:0;
	margin: 2% 0 0 1%;
}
h2{
	display:inline-block;
	padding:0;
	margin:0 0 2% 1%;
}
p{
	display:inline-block;
}