@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
}
#storbox{
	height:100%;
	width:100%;
	background-color: #000;
}
ul{
	padding:1%;
	margin:0;
	list-style: none;
	height:40%;
	width:40%;
	float:left;
}
